{
  "extends": ["triple/svelte"],
  "env": {
    "browser": true,
    "node": true,
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
  },
  "rules": {
    "@typescript-eslint/lines-between-class-members": 0,
    "@typescript-eslint/no-throw-literal": 0,
  },
}
