{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["global"] }
    ]
  },
  "overrides": [
    {
      "extends": ["stylelint-prettier/recommended"],
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["**/*.svelte"],
      "customSyntax": "postcss-html"
    }
  ]
}
