<!DOCTYPE html>
<html>
    <head>
        <title>Swagger Explained</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
        <link href="build/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="app" class="page"  ng-controller="SwaggerExplainedController">
        <form  class="page__header">swagger<span>.json</span> explained <input ng-model="url" ng-model-options="{ debounce: 2500 }" ></form>
        <div class="page__content">
            <swg-output class="page__content__left swg-output-container" value="swagger"></swg-output>
            <div class="page__content__right">
                <div ng-if="!explained">
                    Hover over the json on the left for detailed information.
                </div>
                <div ng-if="explained">
                    <p ng-if="explained.annotation" >
                        <a href="https://github.com/zircote/swagger-php" target="_blank">Swagger-PHP</a> annotation: <strong>{{explained.annotation}}</strong>
                    </p>
                    <div marked="spec[explained.spec]" class="spec"></div>
                </div>
            </div>
        </div>
        <script src="build/libs.bundle.js" type="text/javascript"></script>
        <script src="build/app.min.js" type="text/javascript"></script>
    </body>
</html>
