.swg-output-container {
    background: #272822;
    color: #f8f8f2;
}
.swg-output {
    font-size: 11px;
    font-family: "Anonymous Pro", monospace;
    white-space: nowrap;
}
.swg-output__property {
    color: #66d9ef;
}
.swg-output__double-colon {
    color: #f92772;
}
.swg-output__indent {
    padding-left: 1.1em;
}
.swg-output__string {
    color: #e6db74;
}
.swg-output--boolean {
    color: #f92770;
}
.swg-output--number {
    color: #f92770;
}
.swg-output--undefined {
    color: white;
}

.swg-output__hover {
    background: rgba(white, 0.08);
    outline: 1px solid rgba(black, 0.08);
    cursor: help;
}
.swg-output--active {
    background: #342848;
    outline: 1px dotted rgba(white, 0.4);
    cursor: help;
}